.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.15s ease; /* Smooth transition for hover effect */
  border-radius: 10px; /* Optional: adds a slight rounding to the corners */
}

.sidebar-link:hover {
  background-color: #f2f2f2;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
